- var title = 'Colors'
doctype
html(lang='en')
  head
    include /includes/head.pug
    style(type='text/css').
      div {
        font-family: 'roboto';
        font-size: 14px;
        padding: 10px;
        width:200px;
        height:30px;
      }
  body
    h3= title
    - var colors = ['red', 'pink', 'purple', 'deep-purple', 'indigo', 'blue', 'light-blue', 'cyan', 'teal', 'green', 'light-green', 'lime', 'yellow', 'amber', 'orange', 'deep-orange', 'brown', 'grey', 'blue-grey'];
    each color in colors
      div(class=color+'-light-5')
      div(class=color+'-light-4')
      div(class=color+'-light-3')
      div(class=color+'-light-2')
      div(class=color+'-light-1')
      div(class=color)
      div(class=color+'-dark-1')
      div(class=color+'-dark-2')
      div(class=color+'-dark-3')
      div(class=color+'-dark-4')
      br
      
    script(type='text/javascript').
      var colors = document.getElementsByTagName('div');
      for (var i = 0; i < colors.length; i++) {
        var colorbox = colors[i];
        var styles = window.getComputedStyle(colorbox);
        var hex = rgb2hex(styles.getPropertyValue("background-color"));
        var classes = colorbox.getAttribute("class");
        colorbox.innerHTML = '.'+classes+' #'+hex;
        if (isDark(hex)) {
          colorbox.style.color = 'rgba(255,255,255,.9)';
        }
      }
      function rgb2array(rgb) {
        var a = rgb.split("(")[1].split(")")[0];
        a = a.split(",");
        return a;
      }
      function rgb2hex(rgb) {
        var a = rgb2array(rgb);
        var b = a.map(function(x) {
          x = parseInt(x).toString(16);
          return (x.length==1) ? "0"+x : x;
        });
        return b = b.join("").toUpperCase();
      }
      function isDark(hex) {
        var rgb = parseInt(hex, 16),
        r = (rgb >> 16) & 0xff,
        g = (rgb >>  8) & 0xff,
        b = (rgb >>  0) & 0xff,
        luma = 0.2126 * r + 0.7152 * g + 0.0722 * b;
        if (luma > 130) {
          return false;
        }
        return true;
      }
