- var title = 'Radio'
doctype
html(lang='en')
  head
    include /includes/head.pug
  body
    h3 Radio
    - var colors = ['red', 'pink', 'purple', 'blue', 'cyan', 'teal', 'green', 'yellow', 'amber', 'orange'];
      each color in colors
        label(class='radio '+color)
          if color == 'cyan'
            input(id=color type='radio' name='color' checked)
          else
            input(id=color type='radio' name='color')
          span(for=color)=color
  
    h3 Radio with text left
    - var textLeft = ['Google', 'Microsoft', 'Apple'];
      each text in textLeft
        label(class='radio txt-left')
          if text == 'Google'
            input(id=color type='radio' name='text' checked)
          else
            input(id=text type='radio' name='text')
          span(for=text)=text
